@functions{
    public string GetMPname()
    {
        return string.IsNullOrWhiteSpace(Configuration.GetSection("SystemSetting")["MPName"]) ? "Manager" : Configuration.GetSection("SystemSetting")["MPName"];
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title - @GetMPname()</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/weui/style/weui.css" />
        <link rel="stylesheet" href="~/css/weuix.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/weui/style/weui.min.css" />
        <link rel="stylesheet" href="~/css/weuix.css" />
    </environment>

    @RenderSection("css", false)
</head>
<body ontouchstart>
    <div>
        @RenderBody()
    </div>

    <environment names="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript">$.noConflict();</script>
        <script type="text/javascript" src="~/lib/zepto/zepto.js"></script>
        <script type="text/javascript" src="~/lib/fastclick/fastclick.js"></script>
        <script type="text/javascript" src="~/js/zepto.weui.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript">$.noConflict();</script>
        <script type="text/javascript" src="~/lib/zepto/zepto.min.js"></script>
        <script type="text/javascript" src="~/lib/fastclick/fastclick.min.js"></script>
        <script type="text/javascript" src="~/js/zepto.weui.min.js"></script>
    </environment>

    @RenderSection("Script", false)
    <script type="text/javascript">
        $().ready(function () {
            FastClick.attach(document.body);
        });
    </script>
</body>
</html>
