@model Senparc.Weixin.Sample.NetCore3.Models.FydInfo

@{
    ViewData["Title"] = "发货完成";
    Layout = "~/Views/Shared/_LayoutWeuiPlus.cshtml";
}

<h2>CreateMsg</h2>

<div>
    <h4>FydInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.msg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.msg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.收货人电话)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.收货人电话)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.收货人)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.收货人)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.货名)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.货名)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.件数)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.件数)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.城市)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.城市)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.托运人)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.托运人)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.托运人电话)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.托运人电话)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
